.sidebar{
    flex: 1;
    height: calc(100vh - 50px);
    top:50px;
    background:rgb(251, 251, 255);
}

.sidebarWrapper{
    color: #555;
}

.sidebarTitle{
    font-size: 13px;
    color:rgb(187, 186, 186);
}

.sidebarList{
    padding:5px;
    font-size: 16px;;
}


.sidebarListItems {
    padding:5px;
    cursor: pointer;
    border-radius: 10px;
}

.sidebarListItems.active,
.sidebarListItems:hover{
    background:rgb(228, 228, 250);
}

.sidebarIcon{
    margin-right:5px;
    font-size:20px;
}
